name: Tests

on:
  push:
    branches: ['main']

  pull_request:
    branches: ['main']

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: ['18', '20', '21']
    steps:
      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Code Checkout
        uses: actions/checkout@v6

      - name: Install Dependencies
        run: yarn install

      - name: Prettier
        run: yarn run prettier

      - name: Lint
        run: yarn run lint

      - name: Run Test
        run: yarn test
